.comment-image-container{
  float:left;
  
}
.comment-replies{
  margin-left: 40px;
}
img{
  display: inline;
  padding:2px;
}
.comment-right-part{
  float:left;
}
.comment{
  display: block !important;
  margin-top:20px;
  padding: 5px;
  overflow: hidden;
}
